import React from 'react';

interface {{pascalCase component}}Props {
  // Add props here
}

export function {{pascalCase component}}({}: {{pascalCase component}}Props) {
  return (
    <div className="{{kebabCase name}}-container">
      <h2>{{titleCase name}}</h2>
      {/* Add your feature content here */}
    </div>
  );
}